In [66]:
import pandas as pd
# Add asset from file system
df = pd.read_csv('../datasets/sphist.csv')
df.head()

,Date,Open,High,Low,Close,Volume,Adj Close
0,2015-12-07,2090.419922,2090.419922,2066.780029,2077.070068,4.043820e+09,2077.070068
1,2015-12-04,2051.239990,2093.840088,2051.239990,2091.689941,4.214910e+09,2091.689941
2,2015-12-03,2080.709961,2085.000000,2042.349976,2049.620117,4.306490e+09,2049.620117
3,2015-12-02,2101.709961,2104.270020,2077.110107,2079.510010,3.950640e+09,2079.510010
4,2015-12-01,2082.929932,2103.370117,2082.929932,2102.629883,3.712120e+09,2102.629883

In [67]:
import numpy as np
from datetime import datetime

In [68]:
df['DateTime'] = pd.to_datetime(df.Date)
df_ordered = df.sort_values('DateTime', ascending=True)
df_ordered['index'] = range(0,df.shape[0],1)
df_ordered.head()

,Date,Open,High,Low,Close,Volume,Adj Close,DateTime,index
16589,1950-01-03,16.66,16.66,16.66,16.66,1260000.0,16.66,1950-01-03,0
16588,1950-01-04,16.85,16.85,16.85,16.85,1890000.0,16.85,1950-01-04,1
16587,1950-01-05,16.93,16.93,16.93,16.93,2550000.0,16.93,1950-01-05,2
16586,1950-01-06,16.98,16.98,16.98,16.98,2010000.0,16.98,1950-01-06,3
16585,1950-01-09,17.08,17.08,17.08,17.08,2520000.0,17.08,1950-01-09,4

In [69]:
df_ordered = df_ordered.set_index(['index'])
df_ordered.head()

             Date   Open   High    Low  Close     Volume  Adj Close   DateTime
index
0      1950-01-03  16.66  16.66  16.66  16.66  1260000.0      16.66 1950-01-03
1      1950-01-04  16.85  16.85  16.85  16.85  1890000.0      16.85 1950-01-04
2      1950-01-05  16.93  16.93  16.93  16.93  2550000.0      16.93 1950-01-05
3      1950-01-06  16.98  16.98  16.98  16.98  2010000.0      16.98 1950-01-06
4      1950-01-09  17.08  17.08  17.08  17.08  2520000.0      17.08 1950-01-09

In [70]:
df_ordered["day_5"] = pd.Series([])
price_list = [0,0,0,0,0]

In [71]:
for i in range(0,df_ordered.shape[0],1):
    if i == df_ordered.shape[0]-5:
        break
    avg_price = df_ordered["Close"].iloc[i:i+5].sum()
    price_list.append(avg_price/5)

In [72]:
print(df_ordered["day_5"].shape)
print(len(price_list))
df_ordered["day_5"] = price_list

(16590,)
16590

In [73]:
df_ordered.tail(10)

,Date,Open,High,Low,Close,Volume,Adj Close,DateTime,day_5
index,,,,,,,,,
16580,2015-11-23,2089.409912,2095.610107,2081.389893,2086.590088,3.587980e+09,2086.590088,2015-11-23,2071.523974
16581,2015-11-24,2084.419922,2094.120117,2070.290039,2089.139893,3.884930e+09,2089.139893,2015-11-24,2078.204004
16582,2015-11-25,2089.300049,2093.000000,2086.300049,2088.870117,2.852940e+09,2088.870117,2015-11-25,2085.943994
16583,2015-11-27,2088.820068,2093.290039,2084.129883,2090.110107,1.466840e+09,2090.110107,2015-11-27,2087.002002
16584,2015-11-30,2090.949951,2093.810059,2080.409912,2080.409912,4.245030e+09,2080.409912,2015-11-30,2088.776025
16585,2015-12-01,2082.929932,2103.370117,2082.929932,2102.629883,3.712120e+09,2102.629883,2015-12-01,2087.024023
16586,2015-12-02,2101.709961,2104.270020,2077.110107,2079.510010,3.950640e+09,2079.510010,2015-12-02,2090.231982
16587,2015-12-03,2080.709961,2085.000000,2042.349976,2049.620117,4.306490e+09,2049.620117,2015-12-03,2088.306006
16588,2015-12-04,2051.239990,2093.840088,2051.239990,2091.689941,4.214910e+09,2091.689941,2015-12-04,2080.456006
16589,2015-12-07,2090.419922,2090.419922,2066.780029,2077.070068,4.043820e+09,2077.070068,2015-12-07,2080.771973

In [74]:
df_ordered["day_30"] = pd.Series([])
price_list = [0]*30
for i in range(0,df_ordered.shape[0],1):
    if i == df_ordered.shape[0]-30:
        break
    avg_price = df_ordered["Close"].iloc[i:i+30].sum()
    price_list.append(avg_price/30)
df_ordered["day_30"] = price_list
df_ordered.tail(10)

,Date,Open,High,Low,Close,Volume,Adj Close,DateTime,day_5,day_30
index,,,,,,,,,,
16580,2015-11-23,2089.409912,2095.610107,2081.389893,2086.590088,3.587980e+09,2086.590088,2015-11-23,2071.523974,2061.892989
16581,2015-11-24,2084.419922,2094.120117,2070.290039,2089.139893,3.884930e+09,2089.139893,2015-11-24,2078.204004,2064.197327
16582,2015-11-25,2089.300049,2093.000000,2086.300049,2088.870117,2.852940e+09,2088.870117,2015-11-25,2085.943994,2067.045658
16583,2015-11-27,2088.820068,2093.290039,2084.129883,2090.110107,1.466840e+09,2090.110107,2015-11-27,2087.002002,2070.199996
16584,2015-11-30,2090.949951,2093.810059,2080.409912,2080.409912,4.245030e+09,2080.409912,2015-11-30,2088.776025,2072.408333
16585,2015-12-01,2082.929932,2103.370117,2082.929932,2102.629883,3.712120e+09,2102.629883,2015-12-01,2087.024023,2073.984998
16586,2015-12-02,2101.709961,2104.270020,2077.110107,2079.510010,3.950640e+09,2079.510010,2015-12-02,2090.231982,2076.283993
16587,2015-12-03,2080.709961,2085.000000,2042.349976,2049.620117,4.306490e+09,2049.620117,2015-12-03,2088.306006,2077.908659
16588,2015-12-04,2051.239990,2093.840088,2051.239990,2091.689941,4.214910e+09,2091.689941,2015-12-04,2080.456006,2078.931331
16589,2015-12-07,2090.419922,2090.419922,2066.780029,2077.070068,4.043820e+09,2077.070068,2015-12-07,2080.771973,2080.237329

In [75]:
df_ordered["day_30_std"] = pd.Series([])
price_list = [0]*30
for i in range(0,df_ordered.shape[0],1):
    if i == df_ordered.shape[0]-30:
        break
    std_price = df_ordered["Close"].iloc[i:i+30].std()
    price_list.append(std_price)
df_ordered["day_30_std"] = price_list
df_ordered.tail(10)

,Date,Open,High,Low,Close,Volume,Adj Close,DateTime,day_5,day_30,day_30_std
index,,,,,,,,,,,
16580,2015-11-23,2089.409912,2095.610107,2081.389893,2086.590088,3.587980e+09,2086.590088,2015-11-23,2071.523974,2061.892989,32.699325
16581,2015-11-24,2084.419922,2094.120117,2070.290039,2089.139893,3.884930e+09,2089.139893,2015-11-24,2078.204004,2064.197327,31.885833
16582,2015-11-25,2089.300049,2093.000000,2086.300049,2088.870117,2.852940e+09,2088.870117,2015-11-25,2085.943994,2067.045658,30.058610
16583,2015-11-27,2088.820068,2093.290039,2084.129883,2090.110107,1.466840e+09,2090.110107,2015-11-27,2087.002002,2070.199996,26.960525
16584,2015-11-30,2090.949951,2093.810059,2080.409912,2080.409912,4.245030e+09,2080.409912,2015-11-30,2088.776025,2072.408333,25.718597
16585,2015-12-01,2082.929932,2103.370117,2082.929932,2102.629883,3.712120e+09,2102.629883,2015-12-01,2087.024023,2073.984998,24.654181
16586,2015-12-02,2101.709961,2104.270020,2077.110107,2079.510010,3.950640e+09,2079.510010,2015-12-02,2090.231982,2076.283993,23.970453
16587,2015-12-03,2080.709961,2085.000000,2042.349976,2049.620117,4.306490e+09,2049.620117,2015-12-03,2088.306006,2077.908659,22.378095
16588,2015-12-04,2051.239990,2093.840088,2051.239990,2091.689941,4.214910e+09,2091.689941,2015-12-04,2080.456006,2078.931331,20.183769
16589,2015-12-07,2090.419922,2090.419922,2066.780029,2077.070068,4.043820e+09,2077.070068,2015-12-07,2080.771973,2080.237329,19.676415

In [76]:
df_ordered.head(32)

,Date,Open,High,Low,Close,Volume,Adj Close,DateTime,day_5,day_30,day_30_std
index,,,,,,,,,,,
0,1950-01-03,16.660000,16.660000,16.660000,16.660000,1260000.0,16.660000,1950-01-03,0.000,0.000000,0.000000
1,1950-01-04,16.850000,16.850000,16.850000,16.850000,1890000.0,16.850000,1950-01-04,0.000,0.000000,0.000000
2,1950-01-05,16.930000,16.930000,16.930000,16.930000,2550000.0,16.930000,1950-01-05,0.000,0.000000,0.000000
3,1950-01-06,16.980000,16.980000,16.980000,16.980000,2010000.0,16.980000,1950-01-06,0.000,0.000000,0.000000
4,1950-01-09,17.080000,17.080000,17.080000,17.080000,2520000.0,17.080000,1950-01-09,0.000,0.000000,0.000000
5,1950-01-10,17.030001,17.030001,17.030001,17.030001,2160000.0,17.030001,1950-01-10,16.900,0.000000,0.000000
6,1950-01-11,17.090000,17.090000,17.090000,17.090000,2630000.0,17.090000,1950-01-11,16.974,0.000000,0.000000
7,1950-01-12,16.760000,16.760000,16.760000,16.760000,2970000.0,16.760000,1950-01-12,17.022,0.000000,0.000000
8,1950-01-13,16.670000,16.670000,16.670000,16.670000,3330000.0,16.670000,1950-01-13,16.988,0.000000,0.000000
9,1950-01-16,16.719999,16.719999,16.719999,16.719999,1460000.0,16.719999,1950-01-16,16.926,0.000000,0.000000
10,1950-01-17,16.860001,16.860001,16.860001,16.860001,1790000.0,16.860001,1950-01-17,16.854,0.000000,0.000000
11,1950-01-18,16.850000,16.850000,16.850000,16.850000,1570000.0,16.850000,1950-01-18,16.820,0.000000,0.000000
12,1950-01-19,16.870001,16.870001,16.870001,16.870001,1170000.0,16.870001,1950-01-19,16.772,0.000000,0.000000
13,1950-01-20,16.900000,16.900000,16.900000,16.900000,1440000.0,16.900000,1950-01-20,16.794,0.000000,0.000000
14,1950-01-23,16.920000,16.920000,16.920000,16.920000,1340000.0,16.920000,1950-01-23,16.840,0.000000,0.000000
15,1950-01-24,16.860001,16.860001,16.860001,16.860001,1250000.0,16.860001,1950-01-24,16.880,0.000000,0.000000
16,1950-01-25,16.740000,16.740000,16.740000,16.740000,1700000.0,16.740000,1950-01-25,16.880,0.000000,0.000000
17,1950-01-26,16.730000,16.730000,16.730000,16.730000,1150000.0,16.730000,1950-01-26,16.858,0.000000,0.000000
18,1950-01-27,16.820000,16.820000,16.820000,16.820000,1250000.0,16.820000,1950-01-27,16.830,0.000000,0.000000
19,1950-01-30,17.020000,17.020000,17.020000,17.020000,1640000.0,17.020000,1950-01-30,16.814,0.000000,0.000000
20,1950-01-31,17.049999,17.049999,17.049999,17.049999,1690000.0,17.049999,1950-01-31,16.834,0.000000,0.000000
21,1950-02-01,17.049999,17.049999,17.049999,17.049999,1810000.0,17.049999,1950-02-01,16.872,0.000000,0.000000
22,1950-02-02,17.230000,17.230000,17.230000,17.230000,2040000.0,17.230000,1950-02-02,16.934,0.000000,0.000000
23,1950-02-03,17.290001,17.290001,17.290001,17.290001,2210000.0,17.290001,1950-02-03,17.034,0.000000,0.000000
24,1950-02-06,17.320000,17.320000,17.320000,17.320000,1490000.0,17.320000,1950-02-06,17.128,0.000000,0.000000
25,1950-02-07,17.230000,17.230000,17.230000,17.230000,1360000.0,17.230000,1950-02-07,17.188,0.000000,0.000000
26,1950-02-08,17.209999,17.209999,17.209999,17.209999,1470000.0,17.209999,1950-02-08,17.224,0.000000,0.000000
27,1950-02-09,17.280001,17.280001,17.280001,17.280001,1810000.0,17.280001,1950-02-09,17.256,0.000000,0.000000
28,1950-02-10,17.240000,17.240000,17.240000,17.240000,1790000.0,17.240000,1950-02-10,17.266,0.000000,0.000000
29,1950-02-14,17.059999,17.059999,17.059999,17.059999,2210000.0,17.059999,1950-02-14,17.256,0.000000,0.000000
30,1950-02-15,17.059999,17.059999,17.059999,17.059999,1730000.0,17.059999,1950-02-15,17.204,16.976667,0.197978
31,1950-02-16,16.990000,16.990000,16.990000,16.990000,1920000.0,16.990000,1950-02-16,17.170,16.990000,0.189191

In [77]:
df_ordered["day_5_std"] = pd.Series([])
price_list = [0]*5
for i in range(0,df_ordered.shape[0],1):
    if i == df_ordered.shape[0]-5:
        break
    std_price = df_ordered["Close"].iloc[i:i+5].std()
    price_list.append(std_price)
df_ordered["day_5_std"] = price_list

In [78]:
df_ordered.head(10)

,Date,Open,High,Low,Close,Volume,Adj Close,DateTime,day_5,day_30,day_30_std,day_5_std
index,,,,,,,,,,,,
0,1950-01-03,16.660000,16.660000,16.660000,16.660000,1260000.0,16.660000,1950-01-03,0.000,0.0,0.0,0.000000
1,1950-01-04,16.850000,16.850000,16.850000,16.850000,1890000.0,16.850000,1950-01-04,0.000,0.0,0.0,0.000000
2,1950-01-05,16.930000,16.930000,16.930000,16.930000,2550000.0,16.930000,1950-01-05,0.000,0.0,0.0,0.000000
3,1950-01-06,16.980000,16.980000,16.980000,16.980000,2010000.0,16.980000,1950-01-06,0.000,0.0,0.0,0.000000
4,1950-01-09,17.080000,17.080000,17.080000,17.080000,2520000.0,17.080000,1950-01-09,0.000,0.0,0.0,0.000000
5,1950-01-10,17.030001,17.030001,17.030001,17.030001,2160000.0,17.030001,1950-01-10,16.900,0.0,0.0,0.157956
6,1950-01-11,17.090000,17.090000,17.090000,17.090000,2630000.0,17.090000,1950-01-11,16.974,0.0,0.0,0.089051
7,1950-01-12,16.760000,16.760000,16.760000,16.760000,2970000.0,16.760000,1950-01-12,17.022,0.0,0.0,0.067602
8,1950-01-13,16.670000,16.670000,16.670000,16.670000,3330000.0,16.670000,1950-01-13,16.988,0.0,0.0,0.134796
9,1950-01-16,16.719999,16.719999,16.719999,16.719999,1460000.0,16.719999,1950-01-16,16.926,0.0,0.0,0.196545

In [79]:
df_reduced = df_ordered[df_ordered["DateTime"] > datetime(year=1951, month=1, day=2)]
df_reduced.head()

,Date,Open,High,Low,Close,Volume,Adj Close,DateTime,day_5,day_30,day_30_std,day_5_std
index,,,,,,,,,,,,
250,1951-01-03,20.690001,20.690001,20.690001,20.690001,3370000.0,20.690001,1951-01-03,20.360000,19.815000,0.403850,0.304385
251,1951-01-04,20.870001,20.870001,20.870001,20.870001,3390000.0,20.870001,1951-01-04,20.514000,19.842666,0.434320,0.204524
252,1951-01-05,20.870001,20.870001,20.870001,20.870001,3390000.0,20.870001,1951-01-05,20.628000,19.874000,0.473021,0.214057
253,1951-01-08,21.000000,21.000000,21.000000,21.000000,2780000.0,21.000000,1951-01-08,20.726001,19.907000,0.506783,0.181879
254,1951-01-09,21.120001,21.120001,21.120001,21.120001,3800000.0,21.120001,1951-01-09,20.840001,19.935000,0.543144,0.117047

In [80]:
df_reduced.isnull().sum()

Date          0
Open          0
High          0
Low           0
Close         0
Volume        0
Adj Close     0
DateTime      0
day_5         0
day_30        0
day_30_std    0
day_5_std     0
dtype: int64

Generate two new dataframes to use in making our algorithm. train should contain any rows in the data with a date less than 2013-01-01. test should contain any rows with a date greater than or equal to 2013-01-01.

In [81]:
train = df_reduced[df_reduced["DateTime"] < datetime(year=2013, month=1, day=1)]
test = df_reduced[df_reduced["DateTime"] > datetime(year=2013, month=1, day=1)]
test.shape

(739, 12)

In [82]:
df_reduced.columns

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'Adj Close',
       'DateTime', 'day_5', 'day_30', 'day_30_std', 'day_5_std'],
      dtype='object')

Train a linear regression model, using the train Dataframe. Leave out all of the original columns (Close, High, Low, Open, Volume, Adj Close, Date) when training your model. These all contain knowledge of the future that you don't want to feed the model. Use the Close column as the target.

In [83]:

from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
features = ['day_5', 'day_30', 'day_30_std', 'day_5_std']

lr = LinearRegression()
lr.fit(train[features], train["Close"])
test_predictions = lr.predict(test[features])
train_predictions = lr.predict(train[features])

mse_test = mean_squared_error(test_predictions,test["Close"])
mse_train = mean_squared_error(train_predictions,train["Close"])
test_rmse = np.sqrt(mse_test)
train_rmse = np.sqrt(mse_train)
print(test_rmse)
print(train_rmse)

22.211247003313805
10.378849115149576

In [84]:
temp_test = test
temp_test["predictions"]  = test_predictions
temp_test.head(100)

/opt/conda/lib/python3.5/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

,Date,Open,High,Low,Close,Volume,Adj Close,DateTime,day_5,day_30,day_30_std,day_5_std,predictions
index,,,,,,,,,,,,,
15851,2013-01-02,1426.189941,1462.430054,1426.189941,1462.420044,4.202600e+09,1462.420044,2013-01-02,1418.641992,1414.258667,17.834740,9.820801,1418.745240
15852,2013-01-03,1462.420044,1465.469971,1455.530029,1459.369995,3.829730e+09,1459.369995,2013-01-03,1425.793994,1417.676668,16.852563,22.261321,1424.041751
15853,2013-01-04,1459.369995,1467.939941,1458.989990,1466.469971,3.424290e+09,1466.469971,2013-01-04,1433.702002,1420.092668,17.470824,26.274326,1431.750683
15854,2013-01-07,1466.469971,1466.469971,1456.619995,1461.890015,3.304970e+09,1461.890015,2013-01-07,1443.376001,1422.714665,18.339803,27.945242,1441.746619
15855,2013-01-08,1461.890015,1461.890015,1451.640015,1457.150024,3.601600e+09,1457.150024,2013-01-08,1455.267993,1425.076664,18.678333,16.453319,1456.250685
15856,2013-01-09,1457.150024,1464.729980,1457.150024,1461.020020,3.674390e+09,1461.020020,2013-01-09,1461.460010,1426.676664,19.312106,3.505368,1464.958528
15857,2013-01-10,1461.020020,1472.300049,1461.020020,1472.119995,4.081840e+09,1472.119995,2013-01-10,1461.180005,1428.500997,19.896085,3.465196,1464.583699
15858,2013-01-11,1472.119995,1472.750000,1467.579956,1472.050049,3.340650e+09,1472.050049,2013-01-11,1463.730005,1430.940332,20.619728,5.742932,1466.834053
15859,2013-01-14,1472.050049,1472.050049,1465.689941,1470.680054,3.003010e+09,1470.680054,2013-01-14,1464.846021,1433.010998,21.535832,6.844950,1467.782667
15860,2013-01-15,1470.670044,1473.310059,1463.760010,1472.339966,3.135350e+09,1472.339966,2013-01-15,1466.604028,1434.835335,22.343711,7.022435,1469.580073
15861,2013-01-16,1472.329956,1473.959961,1467.599976,1472.630005,3.384080e+09,1472.630005,2013-01-16,1469.642017,1436.707332,23.067703,4.864007,1473.122891
15862,2013-01-17,1472.630005,1485.160034,1472.630005,1480.939941,3.706710e+09,1480.939941,2013-01-17,1471.964014,1438.813000,23.375829,0.752524,1476.162042
15863,2013-01-18,1480.949951,1485.979980,1475.810059,1485.979980,3.795740e+09,1485.979980,2013-01-18,1473.728003,1441.275997,23.802532,4.100299,1477.364533
15864,2013-01-22,1485.979980,1492.560059,1481.160034,1492.560059,3.570950e+09,1492.560059,2013-01-22,1476.513989,1443.832662,24.359990,6.628285,1479.803341
15865,2013-01-23,1492.560059,1496.130005,1489.900024,1494.810059,3.552010e+09,1494.810059,2013-01-23,1480.889990,1446.453332,25.246107,8.709639,1484.047257
15866,2013-01-24,1494.810059,1502.270020,1489.459961,1494.819946,3.699430e+09,1494.819946,2013-01-24,1485.384009,1449.011336,26.142887,8.987709,1488.718919
15867,2013-01-25,1494.819946,1503.260010,1494.819946,1502.959961,3.476290e+09,1502.959961,2013-01-25,1489.821997,1451.553666,26.779239,6.144291,1493.819280
15868,2013-01-28,1502.959961,1503.229980,1496.329956,1500.180054,3.388540e+09,1500.180054,2013-01-28,1494.226001,1454.057666,27.970963,6.077585,1498.481759
15869,2013-01-29,1500.180054,1509.349976,1498.089966,1507.839966,3.949640e+09,1507.839966,2013-01-29,1497.066016,1456.447668,28.762141,4.326478,1501.713365
15870,2013-01-30,1507.839966,1509.939941,1500.109985,1501.959961,3.726810e+09,1501.959961,2013-01-30,1500.121997,1459.394002,29.362463,5.566707,1504.628217
15871,2013-01-31,1501.959961,1504.189941,1496.760010,1498.109985,3.999880e+09,1498.109985,2013-01-31,1501.551978,1462.340002,29.039236,4.714077,1506.056393
15872,2013-02-01,1498.109985,1514.410034,1498.109985,1513.170044,3.836320e+09,1513.170044,2013-02-01,1502.209985,1464.598336,29.100780,3.648708,1506.776640
15873,2013-02-04,1513.170044,1513.170044,1495.020020,1495.709961,3.390000e+09,1495.709961,2013-02-04,1504.252002,1466.811003,30.202766,6.163675,1508.494161
15874,2013-02-05,1495.709961,1514.959961,1495.709961,1511.290039,3.618360e+09,1511.290039,2013-02-05,1503.357983,1468.807666,30.062290,7.147603,1507.213582
15875,2013-02-06,1511.290039,1512.530029,1504.709961,1512.119995,3.611570e+09,1512.119995,2013-02-06,1504.047998,1471.061003,30.642557,7.823069,1507.730714
15876,2013-02-07,1512.119995,1512.900024,1498.489990,1509.390015,3.614580e+09,1509.390015,2013-02-07,1506.080005,1473.793335,30.523132,8.440285,1509.598559
15877,2013-02-08,1509.390015,1518.310059,1509.390015,1517.930054,2.986150e+09,1517.930054,2013-02-08,1508.336011,1476.551001,29.847671,7.192718,1511.959697
15878,2013-02-11,1517.930054,1518.310059,1513.609985,1517.010010,2.684100e+09,1517.010010,2013-02-11,1509.288013,1479.821004,28.773660,8.232360,1512.472303
15879,2013-02-12,1517.010010,1522.290039,1515.609985,1519.430054,3.414370e+09,1519.430054,2013-02-12,1513.548023,1483.118005,27.074108,3.728751,1517.384601
15880,2013-02-13,1519.430054,1524.689941,1515.930054,1520.329956,3.385880e+09,1520.329956,2013-02-13,1515.176026,1487.018005,23.199979,4.238578,1518.407250
...,...,...,...,...,...,...,...,...,...,...,...,...,...
15921,2013-04-15,1588.839966,1588.839966,1552.280029,1552.359985,4.660130e+09,1552.359985,2013-04-15,1580.325976,1557.252653,16.083487,13.533840,1580.991157
15922,2013-04-16,1552.359985,1575.349976,1552.359985,1574.569946,3.654700e+09,1574.569946,2013-04-16,1578.183984,1558.391321,14.337804,17.277476,1577.835304
15923,2013-04-17,1574.569946,1574.569946,1543.689941,1552.010010,4.250310e+09,1552.010010,2013-04-17,1579.375976,1560.036987,13.183637,16.645873,1578.991563
15924,2013-04-18,1552.030029,1554.380005,1536.030029,1541.609985,3.890800e+09,1541.609985,2013-04-18,1572.231982,1560.444320,12.717021,19.572071,1570.771673
15925,2013-04-19,1541.609985,1555.890015,1539.400024,1555.250000,3.569870e+09,1555.250000,2013-04-19,1561.879980,1560.449320,12.709326,19.282993,1559.706995
15926,2013-04-22,1555.250000,1565.550049,1548.189941,1562.500000,2.979880e+09,1562.500000,2013-04-22,1555.159985,1560.815653,12.380734,12.022058,1553.627100
15927,2013-04-23,1562.500000,1579.579956,1562.500000,1578.780029,3.565150e+09,1578.780029,2013-04-23,1557.187988,1561.192985,12.248738,12.284048,1555.721023
15928,2013-04-24,1578.780029,1583.000000,1575.800049,1578.790039,3.598240e+09,1578.790039,2013-04-24,1558.030005,1561.944987,12.619804,13.821452,1556.351429
15929,2013-04-25,1578.930054,1592.640015,1578.930054,1585.160034,3.908580e+09,1585.160034,2013-04-25,1563.386011,1562.821989,12.851431,15.932944,1561.710759
15930,2013-04-26,1585.160034,1585.780029,1577.560059,1582.239990,3.198620e+09,1582.239990,2013-04-26,1572.096020,1563.843323,13.375726,12.609781,1571.576656
15931,2013-04-29,1582.339966,1596.650024,1582.339966,1593.609985,2.891200e+09,1593.609985,2013-04-29,1577.494018,1564.476990,13.789559,8.795540,1577.986618
15932,2013-04-30,1593.579956,1597.569946,1586.500000,1597.569946,3.745070e+09,1597.569946,2013-04-30,1583.716015,1565.573991,14.754040,6.139700,1585.107413
15933,2013-05-01,1597.550049,1597.550049,1581.280029,1582.699951,3.530320e+09,1582.699951,2013-05-01,1587.473999,1567.089656,15.631582,7.869862,1588.826087
15934,2013-05-02,1582.770020,1598.599976,1582.770020,1597.589966,3.366950e+09,1597.589966,2013-05-02,1588.255981,1568.234989,15.468345,6.929318,1589.720307
15935,2013-05-03,1597.599976,1618.459961,1597.599976,1614.420044,3.603910e+09,1614.420044,2013-05-03,1590.741968,1569.530989,16.251707,7.724952,1592.234415
15936,2013-05-06,1614.400024,1619.770020,1614.209961,1617.500000,3.062240e+09,1617.500000,2013-05-06,1597.177978,1571.818323,17.571856,11.401272,1598.492230
15937,2013-05-07,1617.550049,1626.030029,1616.640015,1625.959961,3.309580e+09,1625.959961,2013-05-07,1601.955981,1573.838655,19.204743,14.195629,1603.163237
15938,2013-05-08,1625.949951,1632.780029,1622.699951,1632.689941,3.554700e+09,1632.689941,2013-05-08,1607.633984,1576.314323,20.958119,17.333628,1608.721422
15939,2013-05-09,1632.689941,1635.010010,1623.089966,1626.670044,3.457400e+09,1626.670044,2013-05-09,1617.631982,1578.611653,23.193756,13.305203,1620.147838
15940,2013-05-10,1626.689941,1633.699951,1623.709961,1633.699951,3.086470e+09,1633.699951,2013-05-10,1623.447998,1580.738989,24.583405,7.399116,1627.328514
15941,2013-05-13,1632.099976,1636.000000,1626.739990,1633.770020,2.910600e+09,1633.770020,2013-05-13,1627.303979,1582.889323,26.299820,6.485432,1631.615572
15942,2013-05-14,1633.750000,1651.099976,1633.750000,1650.339966,3.457790e+09,1650.339966,2013-05-14,1630.557983,1585.275989,27.572730,3.904877,1635.471716
15943,2013-05-15,1649.130005,1661.489990,1646.680054,1658.780029,3.657440e+09,1658.780029,2013-05-15,1635.433984,1587.945654,29.850856,8.836011,1639.908967
15944,2013-05-16,1658.069946,1660.510010,1648.599976,1650.469971,3.513130e+09,1650.469971,2013-05-16,1640.652002,1591.448657,31.795173,13.357300,1644.688623
15945,2013-05-17,1652.449951,1667.469971,1652.449951,1667.469971,3.440710e+09,1667.469971,2013-05-17,1645.411987,1594.464990,32.977186,11.194641,1650.038035
15946,2013-05-20,1665.709961,1672.839966,1663.520020,1666.290039,3.275080e+09,1666.290039,2013-05-20,1652.165991,1598.271322,34.609262,12.475776,1656.946359
15947,2013-05-21,1666.199951,1674.930054,1662.670044,1669.160034,3.513560e+09,1669.160034,2013-05-21,1658.669995,1601.711991,36.088250,8.248432,1664.501896
15948,2013-05-22,1669.390015,1687.180054,1648.859985,1655.349976,4.361020e+09,1655.349976,2013-05-22,1662.434009,1605.063660,37.547661,7.777517,1668.505783
15949,2013-05-23,1651.619995,1655.500000,1635.530029,1650.510010,3.945510e+09,1650.510010,2013-05-23,1661.747998,1607.317659,38.489058,8.313212,1667.601871
15950,2013-05-24,1646.670044,1649.780029,1636.880005,1649.599976,2.758080e+09,1649.599976,2013-05-24,1661.756006,1609.222327,39.182609,8.299640,1667.535916

Add 2 additional indicators to your dataframe, and see if the error is reduced.

In [89]:
df_ordered["day_365_std"] = pd.Series([])
price_list = [0]*365
for i in range(0,df_ordered.shape[0],1):
    if i == df_ordered.shape[0]-365:
        break
    std_price = df_ordered["Close"].iloc[i:i+365].std()
    price_list.append(std_price)
df_ordered["day_365_std"] = price_list

df_ordered["volume_5"] = pd.Series([])
volume_list = [0]*5
for i in range(0,df_ordered.shape[0],1):
    if i == df_ordered.shape[0]-5:
        break
    volume = df_ordered["Volume"].iloc[i:i+5].sum()
    volume_list.append(volume/5)
df_ordered["volume_5"] = volume_list

df_ordered["volume_30"] = pd.Series([])
volume_list = [0]*30
for i in range(0,df_ordered.shape[0],1):
    if i == df_ordered.shape[0]-30:
        break
    volume = df_ordered["Volume"].iloc[i:i+30].sum()
    volume_list.append(volume/30)
df_ordered["volume_30"] = volume_list

df_ordered.head(15)

,Date,Open,High,Low,Close,Volume,Adj Close,DateTime,day_5,day_30,day_30_std,day_5_std,day_365_std,volume_5,volume_30
index,,,,,,,,,,,,,,,
0,1950-01-03,16.660000,16.660000,16.660000,16.660000,1260000.0,16.660000,1950-01-03,0.000,0.0,0.0,0.000000,0.0,0.0,0.0
1,1950-01-04,16.850000,16.850000,16.850000,16.850000,1890000.0,16.850000,1950-01-04,0.000,0.0,0.0,0.000000,0.0,0.0,0.0
2,1950-01-05,16.930000,16.930000,16.930000,16.930000,2550000.0,16.930000,1950-01-05,0.000,0.0,0.0,0.000000,0.0,0.0,0.0
3,1950-01-06,16.980000,16.980000,16.980000,16.980000,2010000.0,16.980000,1950-01-06,0.000,0.0,0.0,0.000000,0.0,0.0,0.0
4,1950-01-09,17.080000,17.080000,17.080000,17.080000,2520000.0,17.080000,1950-01-09,0.000,0.0,0.0,0.000000,0.0,0.0,0.0
5,1950-01-10,17.030001,17.030001,17.030001,17.030001,2160000.0,17.030001,1950-01-10,16.900,0.0,0.0,0.157956,0.0,2046000.0,0.0
6,1950-01-11,17.090000,17.090000,17.090000,17.090000,2630000.0,17.090000,1950-01-11,16.974,0.0,0.0,0.089051,0.0,2226000.0,0.0
7,1950-01-12,16.760000,16.760000,16.760000,16.760000,2970000.0,16.760000,1950-01-12,17.022,0.0,0.0,0.067602,0.0,2374000.0,0.0
8,1950-01-13,16.670000,16.670000,16.670000,16.670000,3330000.0,16.670000,1950-01-13,16.988,0.0,0.0,0.134796,0.0,2458000.0,0.0
9,1950-01-16,16.719999,16.719999,16.719999,16.719999,1460000.0,16.719999,1950-01-16,16.926,0.0,0.0,0.196545,0.0,2722000.0,0.0
10,1950-01-17,16.860001,16.860001,16.860001,16.860001,1790000.0,16.860001,1950-01-17,16.854,0.0,0.0,0.191912,0.0,2510000.0,0.0
11,1950-01-18,16.850000,16.850000,16.850000,16.850000,1570000.0,16.850000,1950-01-18,16.820,0.0,0.0,0.166283,0.0,2436000.0,0.0
12,1950-01-19,16.870001,16.870001,16.870001,16.870001,1170000.0,16.870001,1950-01-19,16.772,0.0,0.0,0.082280,0.0,2224000.0,0.0
13,1950-01-20,16.900000,16.900000,16.900000,16.900000,1440000.0,16.900000,1950-01-20,16.794,0.0,0.0,0.092359,0.0,1864000.0,0.0
14,1950-01-23,16.920000,16.920000,16.920000,16.920000,1340000.0,16.920000,1950-01-23,16.840,0.0,0.0,0.069643,0.0,1486000.0,0.0

In [91]:
df_ordered.columns

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'Adj Close',
       'DateTime', 'day_5', 'day_30', 'day_30_std', 'day_5_std', 'day_365_std',
       'volume_5', 'volume_30'],
      dtype='object')

In [92]:
df_reduced = df_ordered[df_ordered["DateTime"] > datetime(year=1951, month=1, day=2)]
train = df_reduced[df_reduced["DateTime"] < datetime(year=2013, month=1, day=1)]
test = df_reduced[df_reduced["DateTime"] > datetime(year=2013, month=1, day=1)]

features = ['day_5', 'day_30', 'day_30_std', 'day_5_std', 'day_365_std',
       'volume_5', 'volume_30']

lr = LinearRegression()
lr.fit(train[features], train["Close"])
test_predictions = lr.predict(test[features])
train_predictions = lr.predict(train[features])

mse_test = mean_squared_error(test_predictions,test["Close"])
mse_train = mean_squared_error(train_predictions,train["Close"])
test_rmse = np.sqrt(mse_test)
train_rmse = np.sqrt(mse_train)
print(test_rmse)
print(train_rmse)

22.232660780648448
10.373565979879789

In [94]:
df_corr = pd.concat([df_reduced[features],df_reduced["Close"]],axis=1)

In [102]:
df_corr.corr().sort_values("Close", ascending=False).drop("Close",axis=0).drop(features, axis=1)

                Close
day_5        0.999794
day_30       0.999193
day_365_std  0.816945
volume_30    0.787395
volume_5     0.781393
day_30_std   0.779433
day_5_std    0.723336